#main{
    width: 100%;
    display: block;
}

#aside{
    width: 100%;
}

#currentWeek{
    display: flex;
    border: 0px solid #c5c5c5;
    border-radius: 0px 20px 20px 0px;
    width : 100%;

}
#textandbtn{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.day{
    border-radius: 10px;
    font-family: Poppins SemiBold;
    margin: 5px;
    border: 3px solid rgb(213, 213, 213);
    width: 50%;
    text-align: center;
    font-size: 18px;
}

h1{
    font-family: Poppins Bold;
    text-align: center;
    font-size: 19px;
    color: #2C5382;
}

#btn-semaine-div{
    display: flex;
    
}

.btn-space{
    margin: 10px;
}
@font-face {
    font-family: 'Poppins Bold';
    font-weight: 600;
    src: url('../font/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    font-weight: 400;
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins SemiBold';
    font-weight: 500;
    src: url('../font/Poppins-SemiBold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


.btn{
    
    font-size: 15px;
    font-family: Poppins SemiBold;
    font-weight: 500;
    color: #2C5382;
    background-color: #ffffff;
    padding: 10px;

border-radius: 10px;
transition : 469ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}





.btn:hover{
transition : 469ms;
padding: 10px;
transform : translateY(-0);
background-color: #2C5382;
color: #ffffff;
border: solid 2px #2C5382;

}



.hour{
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid #cfcfcf; 
    font-family: Poppins Regular;

}

.Formation{
    background-color: rgba(215, 113, 113, 0.528);
}

.Libre{
    background-color: #2c538225;
}

.Interne{
    background-color: rgba(35, 207, 69, 0.41);
}

.Externe{
    border-color: fuchsia;
}

#prixy-logo-footer{
    width: 100px;
    height: 100px;
}

#popup-res{
    visibility: hidden;
}

#calendrier{
    display: flex;
}

.myMenuRes{
    height: 50%;
}

/* #main{
    width: 100%;
    display: flex;
} */

#menu{
    /* width: 20%; */
    display : block;
    background-color: #2C5382;
    font-family: Poppins Bold;
}

.menu{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin-top: 20px;
    font-size: 14px;
    font-family: Poppins Bold;
    font-weight: 900;
    color: #fff;
    padding: 10px 30px;

    border-radius: 50px;
    transition : 469ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;    
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#all-bouton{
    display: flex;
}

label{
    font-size: Large;
}

input{
    font-size: Large;
}

body{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
  }
  
  a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
  }

#separator{
    height: 1px;
background: black;
display: flex;
}

#reserv_list{
    display: flex;
    flex: 0 0 30%;
    flex-wrap: wrap;
    list-style: none;
}

.res_dis{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    list-style: none;
    flex-wrap: wrap;
    flex: 0 0 30%;
}

